@font-face {
  font-family: "Sangu";
  src: url("./fonts/Sangu/Sangu-Regular.ttf");
}


@font-face {
  font-family: "Epika";
  src: url("./fonts/Epika/NT\ Epika\ Bold\ \(PERSONAL\ USE\).otf");
  font-weight: bold;
}

@font-face {
  font-family: "Epika-regular";
  src: url("./fonts/Epika/NT\ Epika\ Regular\ \(PERSONAL\ USE\).otf");
  font-weight: normal;
}

@font-face {
  font-family: "Epika-light";
  src: url("./fonts/Epika/NT\ Epika\ Thin\ \(PERSONAL\ USE\).otf");
  font-weight: lighter;
}

/* START OF HEADER */

.overlay {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
}


.header {
  font-family: "Sangu", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}

.logo {
  font-size: 48px;
  font-weight: 900;
  padding: 4px 32px;
}

ul {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.left-links {
  margin-left: auto;
}

.right-links {
  margin-right: auto;
}

.links ul li a {
  font-size: 22px;
  padding: 50px;
  color: rgba(182, 155, 23, 0.961);
  text-decoration: none;
}

nav ul li a:link {
  text-decoration: none;
  color: rgba(182, 155, 23, 0.961);
}

nav ul li a:visited {
  text-decoration: none;
  color: rgba(182, 155, 23, 0.961);
}

nav ul li a:hover {
  text-decoration: none;
  color: rgba(182, 155, 23, 0.961);
}

nav ul li a:active {
  text-decoration: none;
  color: rgba(182, 155, 23, 0.961);
}

.links ul li {
  color: rgba(182, 155, 23, 0.961);
}

.dropdown-menu {
  display: none;
  position: absolute;
  left: 25px;
  padding: 10px;
  z-index: 999;
}

.dropdown-content {
  list-style: none;
  padding: 0;
}

.dropdown-content li {
  padding: 5px;
  text-decoration: none;

}

.dropdown-content li a {
  color: rgba(182, 155, 23, 0.961);
  text-decoration: none;
}

.dropdown-menu button {
  display: flex;
  justify-content: left;
  padding: 0;
  border: 0px;
  background-color: rgba(245, 245, 245, 0);

}

.dropdown-menu button:hover+.dropdown-content {
  display: block;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-content:hover {
  display: block;
}


@media (max-width: 825px) {
  .links ul {
    display: none;
  }

  .dropdown-menu {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(255, 255, 255, 0.723);
    padding: 10px;
    z-index: 2;
    margin-top: 0;
  }

  .dropdown-content:focus {
    display: block;
  }
}

/* END OF HEADER */

input {
  z-index: 0;
}

body {
  margin: 0;
}

.img-menu-container {
  display: flex;
  justify-content: center;
}

.menu-img {
  width: 100%;
  height: 100%;
  background-color: transparent;
  position: relative;
  z-index: 1;
}

.slider-container {
  position: relative;
  width: calc(100% - 100px);
  /* Account for the 50px margin on each side */
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 aspect ratio (adjust as needed) */
  overflow: hidden;
  margin: 30px 50px;
  /* 30px top and bottom margins, 50px side margins */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-image.active {
  display: block;
}

.slider-arrows {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
  /* Add 5px padding on both sides */
  box-sizing: border-box;
  z-index: 1;
  /* Ensure arrows are above the images */
}

.prev-arrow,
.next-arrow {
  width: 30px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#slider-btn {
  margin-bottom: 0;
}

.prev-arrow:hover,
.next-arrow:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.next-arrow::before {
  transform: rotate(-180deg);
}

.quote-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.block button {
  background-color: rgba(182, 155, 23, 0.961);
  color: white;
  margin: 0 auto 100px;
  padding: 6px 10px;
  border: none;
  display: flex;
  justify-content: center;
}

.block button a {
  font-size: 16pt;
  text-decoration: none;
  color: white;
  font-family: "Sangu", sans-serif;
}

.quote-block .quote {
  text-align: center;
  color: rgba(182, 155, 23, 0.961);
  margin: 150px 10% 30px;
  font-size: 28px;
}

.mission-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 30%;
}

.mission-block img {
  margin: 20px 0 30px;
  width: 100%;
  height: auto;
}

.mission-block button {
  margin-bottom: 60px;
}

.homepage .booking-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px auto;
  background-color: transparent !important;
}

.booking{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Epika", sans-serif;
  font-size: 45pt;
  color: rgba(182, 155, 23, 0.961);
  margin-top: 100px;
}

.booking-block  .booking2{
  font-family: "Epika-light", sans-serif;
  margin-bottom: 30px;
}

.homepage .booking-img {
  background-image: url(./image/ali+claybike-099.webp);
  display: flex;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.empty-space {
  min-height: 400px;
}


.homepage .gap-img {
  background-image: url(./image/O+Z-photo-02.webp);
  display: flex;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: "Sangu", sans-serif;
  font-size: 55pt;
  color: rgba(182, 155, 23, 0.961);
  display: flex;
  justify-content: center;
  margin-top: 175px;
}

body {
  font-family: "Sangu", sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
}

main {
  margin: 20px;
}

article {
  background-color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

article h2 {
  margin-top: 0;
  margin: 0 auto;
}

.date {
  text-align: center;
  font-style: italic;
  color: #888888;
  margin-bottom: 10px;
}



.blog-content .galley-img {
  margin: 0 auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.packages {
  display: flex;
  flex-direction: column;
  margin: 30px;
  background-color: rgba(255, 255, 255, 0.85);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.package {
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  padding: 10px;
  align-items: center;
}

.info {
  display: flex;
  flex: 1;
  flex-shrink: 3;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.package img {
  width: 300px;
  height: 300px;
}

.description {
  font-family: "Epika-light", sans-serif;
}

.name {
  color: rgba(182, 155, 23, 0.961);
  margin-top: 20px;
  font-family: "Epika", sans-serif;
}

.info {
  font-family: "Epika", sans-serif;
  font-weight: lighter;
  font-size: 16pt;
  display: flex;
  flex-shrink: 3;
  flex-direction: column;
  align-items: center;
}

.info .name {
  font-family: "Epika-regular", sans-serif;
  font-weight: normal;
  font-size: 18pt;
  margin-bottom: 20px;
}

.price {
  font-family: "Sangu", sans-serif;
  font-size: 24pt;
  color: rgba(182, 155, 23, 0.961);
}

.divider {
  height: 1px;
  width: 400px;
  background-color: rgba(182, 155, 23, 0.961);
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 50px;
  margin-right: 50px;
}

@media (max-width: 940px) {
  .package {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 10px;
    align-items: center;
  }

  .packages img {
    width: 125px;
    height: 125px;
  }

  .info .name {
    font-family: "Epika-regular", sans-serif;
    font-weight: normal;
    font-size: 16pt;
    margin-bottom: 20px;
  }

  .info .description {
    font-size: 12pt;
  }

  .price {
    font-family: "Sangu", sans-serif;
    font-size: 18pt;
    color: rgba(182, 155, 23, 0.961);
  }

  .divider {
    width: 200px !important;
  }

}

@media (max-width: 526px) {
  .packages {
    margin: 10px;
    display: flex;
    flex-direction: column;
  }

  .package {
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
  }

  .info {
    display: flex;
    flex-direction: column;
  }

  .package img {
    width: 125px;
    height: 125px;
  }

  .info .name {
    font-size: 14pt;
    margin-bottom: 10px;
  }

  .info .description {
    font-size: 10pt;
  }

  .price {
    font-size: 18pt;
  }
}

.about {
  display: flex;
}

.about .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.about img {
  width: 30%;
  height: 30%;
  margin-top: 125px;
  padding: 25px 0px 25px 25px;
  object-fit: cover;
  flex-shrink: 1;
}

.about .content .bio {
  font-family: "Epika", sans-serif;
  margin: 30px 10px 0px;
  line-height: 1.8;
  text-align: center;
}

@media (max-width: 700px) {
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .about img {
    width: 60%;
    height: 60%;
    margin-top: 20px;
  }

  .content .intro {
    margin-top: 20px;
  }


}

.contact-items {
  background: rgba(182, 155, 23, 0.961);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact-info {
  padding: 10px;
}

.contact .contact-lower img {
  display: flex;

  margin-top: 30px;
  margin-bottom: 30px;
}

.contact {
  font-family: "Sangu", sans-serif;
  text-align: center;
  margin: 0;
}

.contact-info p {
  color: white;
}

.container-page {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

h1 {
  font-size: 28px;
  margin-bottom: 20px;
}

.contact-info {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item img {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.contact-lower {
  background-image: url("./image/background.webp");
  max-width: 100%;
  margin: 60px 0;
  background-size: cover;
  background-position: center;
  max-width: 100%;
  z-index: 0;
}

.contact-item p {
  font-size: 16px;
  margin: 0;
}

.contact-info a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.copyright {
  color: rgba(182, 155, 23, 0.961);
  padding: 10px;
  background-color: white;
  text-align: center;
}

/* Test Form */

form {
  max-width: 400px;
  margin: 0 auto;
  z-index: 998;
}

label {
  display: block;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

input[type="submit"] {
  background-color: rgba(182, 155, 23, 0.961);
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.investment-page {
  background-image: url("./image/background.webp");
  background-size: cover;
  background-position: center;
  height: 100%;
  z-index: 0;
}

.investment-page footer {
  margin-top: 200px;
}

main a {
  color: inherit;
  text-decoration: none;
}

.blog-content {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.about-button-cont {
  display: flex;
  justify-content: center !important;
  text-align: cetner;
  align-items: center;
}

#about-button a {
  font-family: "Sangu", sans-serif;
  padding: 8px 10px;
  background-color: rgba(182, 155, 23, 0.961);
  color: white;
  text-decoration: none !important;
}

#about-button {
  border: 5px transparent !important;
  font-size: 18px;
  margin: 15px auto 50px;
}

.bottom-img {
  background-image: url(./image/contact-lower.webp);
  z-index: 0;
  background-size: cover;
  background-position: center;
  position: relative;
}

#package {
  font-family: "Sangu", sans-serif;
  width: 275px;
}



footer {
  z-index: 999;
}

.bottom-img .do-this {
  z-index: 999;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 200px;
  font-family: "Sangu", sans-serif;
  font-size: 100px;
  color: white;
}

.empty-cont-content {
  margin-top: -100px;
  height: 300px;
}

.contact {
  display: flex;
  flex-direction: column;
}

.header-img {
  background-image: url(./image/S+Pphoto-08.webp);
  min-height: 700px;
  display: flex;
  background-attachment: fixed;
  background-position: right;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-cont {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-device-width: 1366px) {
  .header-img {
    background-attachment: scroll;
  }

  .gap-img {
    background-attachment: scroll;
  }

  .booking-img {
    background-attachment: scroll;
  }
}

.main-intro {
  background-color: transparent;
  color: rgba(182, 155, 23, 0.961);
  font-size: 25pt;
  margin: 160px auto 0px;
  z-index: 998;
}

@media (max-width: 600px) {
  .header-img {
    min-height: 500px;
    background-position: right;
  }

  .homepage .gap-img {
    max-width: 100%;
    background-size: contain;
    background-attachment: scroll; 
   }

  .homepage .booking-img {
    max-width: 100%;
    background-position: left;
    background-attachment: scroll;
  }

    .homepage .booking {
      font-size: 30pt !important;
    }

}



